{% extends "base.html" %}


{% block main_content %}
<body class="">
  <script src="{{ url_for('static', filename='js/scripts/color.js')}}"></script>
  <div class="wrapper ">
    <div class="main-panel">
      <!-- Navbar -->
        <!-- END nav -->
      <!-- End Navbar -->

      <!-- Start Content -->
      <div class="content">

      <script>
        var json = '{{data|tojson}}';
        var data = get_data(json);
        var list_name_colour = color(data);
        var personality = data["personality_insight"];
        console.log("***************************************************");
        console.log(personality);
        var big_four = personality["big_four"];
        var progress_bar = personality["progress_bar"];
        var throw_back = personality["throw_back"];
        var sub_interst = personality["sub_interst"];
        var summary = personality["summary"]
        console.log("###################################################");
        console.log(summary)
        console.log("###################################################");
        console.log(sub_interst)
        console.log("###################################################");
        console.log(throw_back)
      </script>

<div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>

      <!-- Headline -->
        <div class="text-center">
          <h1>ANALYSIS</h1><br><br>
        </div>


      <!-- Statistics Card -->
        <div class="row">
          <div class="col-sm-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                  <!--Place Icon-->

                  </div>
                  <div class="col-9 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Total Messages</p>
                      <p id="total_messages" class="card-title"><p>
                    </div>
                  </div>
                  <script>
                    var total_message = data['total_message']
                    document.getElementById("total_messages").innerHTML = total_message;
                  </script>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  Updated Now
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <!-- <i class="nc-icon nc-money-coins text-success"></i> -->
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Total Words</p>
                      <p class="card-title" id="total_words"><p>
                    </div>
                  </div>
                  <script>
                    var total_words = data['total_word']
                    document.getElementById("total_words").innerHTML = total_words;
                  </script>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i>
                  Updated Now
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <!-- <i class="nc-icon nc-vector text-danger"></i>  Something Needs to go here -->
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Total Calls</p>
                      <p id="total_call" class="card-title"><p>
                    </div>
                  </div>
                  <script>
                    var total_calls = data['total_call']
                    document.getElementById("total_call").innerHTML = total_calls;
                  </script>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-clock-o"></i>
                  Updated Now
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- Statistics Table -->
        <div class="row">
        <div class="col-xl-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-body">
            <div >
              <table class="table">
                <thead class="text-center">
                  <th>Name</th>
                  <th>Message Sent</th>
                  <th>Word Sent</th>
                  <th>Word per Message</th>
                </thead>
                <tbody id="summary" class="text-center"></tbody>
                <script src="{{ url_for('static', filename='js/scripts/populate_table.js')}}"></script>
              </table>
            </div>
          </div>
        </div>
        </div>
        </div>
        
  <!-- Personality Insight -->
  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-body">
          <div class="nav-tabs-navigation">
          <h5><i class="fas fa-cogs"></i> Personality Insight</h5>
            <div class="nav-tabs-wrapper">
              <ul id="tabs" class="nav nav-tabs" role="tablist">
                <script src="{{ url_for('static', filename='js/scripts/tab_generator.js')}}"></script>
              </ul>
            </div>
          </div>
          <style>
            p {
              text-align: justify;
              text-justify: inter-word;
            }
            </style>

          <!-- Personality Cards -->
          <div id="my-tab-content" class="tab-content text-center">
          <!-- Person i'th Personality Card-->
          <script src="{{ url_for('static', filename='js/scripts/personality_generator.js')}}"></script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Month and Time  -->
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Month</h5>
          <div class="row">
            <div class="col-sm-7">
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="big-title">total Messages sent per month </h6>
          <!-- Canvas -->
          <canvas id="month" width="800" height="380"></canvas>
          <script src="{{ url_for('static', filename='js/scripts/message_month_chart.js')}}"></script>

        </div>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              
              <div class="footer-title"><i class="fa fa-history"></i> Updated Just Now</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-warning btn-round btn-icon btn-sm" data-toggle="modal" data-target="#message_per_month" >
                  <i class="fas fa-info"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Time  -->
    <div class="col-lg-6 col-sm-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Time</h5>
          <div class="row">
            <div class="col-sm-7">
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="big-title">total Messages sent per Hour </h6>
          <!-- Canvas -->
          <canvas id="time" width="800" height="380"></canvas>
          <script src="{{ url_for('static', filename='js/scripts/message_time_chart.js')}}"></script>
        </div>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title"><i class="fa fa-history"></i> Updated Just Now</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-success btn-round btn-icon btn-sm"  data-toggle="modal" data-target="#message_per_time">
                  <i class="fas fa-info"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Weekly  -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Week</h5>
          <p class="card-category">Messages sent per day of the week </p>
        </div>
        <div class="card-body ">
          <!-- Canvas -->
          <canvas id=week_chart width="400" height="80"></canvas>
        </div>
        <script src="{{ url_for('static', filename='js/scripts/message_week_chart.js')}}"></script>
        <div class="row">
          
        </div>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title"><i class="fa fa-history"></i> Updated Just Now</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-danger btn-round btn-icon btn-sm" data-toggle="modal" data-target="#message_per_week">
                  <i class="fas fa-info"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <!-- Time Line -->
  <div class="header text-center">
    <h5 class="title">Throwbacks</h5>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline">
            <li class="timeline-inverted">
              <div class="timeline-badge danger">
                <i class="fas fa-caret-left"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span id ="00" class="badge badge-pill badge-danger"></span>
                </div>
                <div class="timeline-body">
                  <p id="01"></p>
                </div>
              </div>
            </li>
            <script>document.getElementById("00").innerHTML = a_name[0]</script>
            <script>document.getElementById("01").innerHTML = throw_back[a_name[0]][0]</script>
            <li>
              <div class="timeline-badge success">
                <i class="fas fa-caret-right"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span id="10" class="badge badge-pill badge-success"></span>
                </div>
                <div class="timeline-body">
                  <p id="11"></p>
                </div>
              </div>
            </li>
            <script>document.getElementById("10").innerHTML = a_name[1] </script>
            <script>document.getElementById("11").innerHTML= throw_back[a_name[1]][0] </script>
            <li class="timeline-inverted">
              <div class="timeline-badge info">
                <i class="fas fa-caret-left"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span id="20" class="badge badge-pill badge-info"></span>
                </div>
                <div class="timeline-body">
                  <p id="21"></p>
                </div>
              </div>
            </li>
            <script>document.getElementById("20").innerHTML = a_name[0]</script>
            <script>document.getElementById("21").innerHTML = throw_back[a_name[0]][1] </script>
            <li>
              <div class="timeline-badge warning">
                <i class="fas fa-caret-right"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span id="32" class="badge badge-pill badge-warning"></span>
                </div>
                <div class="timeline-body">
                  <p id="30"></p>
                </div>
              </div>
            </li>
            <script>document.getElementById("32").innerHTML = a_name[1]</script>
            <script>document.getElementById("30").innerHTML = throw_back[a_name[1]][1]</script>
          </ul>
        </div>
      </div>
    </div>
  </div>
      

  <!-- Starting Word and Message Percentage -->
  <div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Message</h5>
        <p class="card-category">The total message sent by each person </p>
      </div>
      <div class="card-body ">
        <canvas id="message_sent" class="ct-chart ct-perfect-fourth" width="356" height="200"></canvas>
      </div>
      <script src="{{ url_for('static', filename='js/scripts/message_sent.js')}}"></script>
      <div class="card-footer">
        <hr>
        <div class="row">
          <div class="col-sm-7">
            <div class="footer-title"><i class="fa fa-history"></i> Updated Just Now</div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right">
              <button class="btn btn-warning btn-round btn-icon btn-sm" data-toggle="modal" data-target="#message_contribution">
                <i class="fas fa-info"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Word</h5>
        <p class="card-category">The total word sent by each person </p>
      </div>
      <div class="card-body ">
        <canvas id="word_sent" class="ct-chart ct-perfect-fourth" width="356" height="200"></canvas>
      </div>
      <script src="{{ url_for('static', filename='js/scripts/word_sent.js')}}"></script>

      <div class="card-footer">
        <hr>
        <div class="row">
          <div class="col-sm-7">
            <div class="footer-title"><i class="fa fa-history"></i> Updated Just Now</div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right">
              <button class="btn btn-success btn-round btn-icon btn-sm" data-toggle="modal" data-target="#word_contribution">
                <i class="fas fa-info"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

<!-- Info-Cards -->
<!-- Month -->
<div class="modal fade" id="message_per_month" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i></i>
        </button>
        <h4 class="title title-up">Month</h4>
      </div>
      <div class="modal-body">
        <p style="text-align:center;">This graph gives the total number of messages sent every month for all the years. </p>
       
      </div>
      <div class="modal-footer">
        <div class="right-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Thanks !</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  End Modal -->
<!-- Month -->
<div class="modal fade" id="message_per_time" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i></i>
        </button>
        <h4 class="title title-up">Time</h4>
      </div>
      <div class="modal-body">
        <p style="text-align:center;">
          This graph gives the total number of messages sent every hour. The time is in Military Time (24hrs) </p>
      </div>
      <div class="modal-footer">
        <div class="right-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Thanks !</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  End Modal -->
<!-- Week -->
<div class="modal fade" id="message_per_week" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i></i>
        </button>
        <h4 class="title title-up">Week</h4>
      </div>
      <div class="modal-body">
        <p style="text-align:center;">
          This graph gives the total number of messages sent every week for all the years. </p>
      </div>
      <div class="modal-footer">
        <div class="right-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Thanks !</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  End Modal -->
<!-- Message -->
<div class="modal fade" id="message_contribution" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i></i>
        </button>
        <h4 class="title title-up">Message</h4>
      </div>
      <div class="modal-body">
        <p style="text-align:center;">
          This graph gives the total cotribution of messagers for each participant. </p>
      </div>
      <div class="modal-footer">
        <div class="right-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Thanks !</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  End Modal -->
<!-- Word -->
<div class="modal fade" id="word_contribution" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i></i>
        </button>
        <h4 class="title title-up">Word</h4>
      </div>
      <div class="modal-body">
        <p style="text-align:center;">
          This graph gives the total cotribution of words for each participant.      </div>
      <div class="modal-footer">
        <div class="right-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Thanks !</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  End Modal -->

    <!-- Footer -->
    <footer class="footer footer-black  footer-white ">
      <div class="container-fluid">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li><a href="" target="_blank">Home</a></li>
              <li><a href="" target="_blank">About Us</a></li>
              <li><a href="" target="_blank">Contact</a></li>
            </ul>
          </nav>
          <div class="credits ml-auto">
            <span class="copyright">
              © <script>
                document.write(new Date().getFullYear())
              </script>, made with <i class="fa fa-heart heart"></i> by Abhinav Chaudhary, Anthony Inthavong
            </span>
          </div>
        </div>
      </div>
    </footer>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/scripts/run_graphs.js')}}"></script>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static', filename='js/core/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/core/popper.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/core/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/plugins/moment.min.js')}}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->

  <script src="{{ url_for('static', filename='js/plugins/bootstrap-switch.js')}}"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="{{ url_for('static', filename='js/plugins/sweetalert2.min.js')}}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{{ url_for('static', filename='js/plugins/jquery.validate.min.js')}}"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="{{ url_for('static', filename='js/plugins/jquery.bootstrap-wizard.js')}}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{{ url_for('static', filename='js/plugins/bootstrap-selectpicker.js')}}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="{{ url_for('static', filename='js/plugins/bootstrap-datetimepicker.js')}}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script src="{{ url_for('static', filename='js/plugins/jquery.dataTables.min.js')}}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{{ url_for('static', filename='js/plugins/bootstrap-tagsinput.js')}}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{{ url_for('static', filename='js/plugins/jasny-bootstrap.min.js')}}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->

  <script src="{{ url_for('static', filename='js/plugins/fullcalendar/fullcalendar.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/plugins/fullcalendar/daygrid.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/plugins/fullcalendar/timegrid.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/plugins/fullcalendar/interaction.min.js')}}"></script>

  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{{ url_for('static', filename='js/plugins/jquery-jvectormap.js')}}"></script>
  <!--  Plugin for the Bootstrap Table -->
  <script src="{{ url_for('static', filename='js/plugins/nouislider.min.js')}}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
    <!-- Chart JS -->
  <script src="{{ url_for('static', filename='js/plugins/chartjs.min.js')}}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', filename='js/plugins/bootstrap-notify.js')}}"></script>
  <!-- Sharrre libray -->
  <script src="{{ url_for('static', filename='demo/jquery.sharrre.js')}}"></script>

</body>
{% endblock %}

